:root {
    /* fonts */
    --main-font: 'Fira Sans';
    --secondary-font: 'Oswald';

    /* text */
    --title-text-main-color: #173D33;
  
   
   

    /* background */
    --burger-background-color: #DCEFD8;
    --layout-background-color: #F3F5FA;
    --burger-hover-background-color: #97D28B;
  

    /* form */
    /* --input-bcg-color: #f7f7f7;
    --border-input: #ffffff2f;
    --modal-background-color: #ffffff;
    --modal-input-text-color: #616161;
    --modal-input-lable-color: #343434c5;
    --modal-border-color: 'none'; */

    /* animation */
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* background button */
    /* --background-button-month: #cae8ff;
    --background-button-day: #e3f3ff; */
}